:root{
    --secondary-color: #0084fd;
    --card-demo-bg: #b5ddff;
    --main-color: #9792e4;
    --demo-text-color: #596d7e;
    --txt-with-us: #737373;
    --txt-about-us: #111111;
    --title-pg-color: #fdc15f;
    --base-space: 10px;
}

/* ! reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ! generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: var(--base-space);
    padding-right: var(--base-space);
}

.row{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);
    padding: var(--base-space);
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

section{
    padding: 3rem 0;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
}

p{
    line-height: 2rem;
}

.big-title{
    font-size: 3rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.img-rounded{
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    aspect-ratio: 1;
    line-height: 200px;
    object-fit: cover;
    font-size: 3rem;
    text-align: center;
    background-color: white;
    color: #9792e4;
}

/* ! HEADER */
#header{
    background-color: var(--secondary-color);
}

#header .container{
    display: flex;
    justify-content: space-between;
}

.header-logo,
.header-navbar{
    padding: 1rem 0;
}

#header .header-navbar{
    display: flex;
    align-items: center;
}

.header-navbar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.nav-list .btn{
    background-color: white;
    color: black;
}

.header-navbar .fa-bars{
    display: none;
    font-size: 1.5rem;
    color: white;
}

/* ! main */
section:nth-child(even){
    background-color: var(--main-color);
}

/* ! demo section */
#demo{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#demo .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo .col:first-child .card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

#demo .card{
    border-radius: 20px;
    background-color: var(--card-demo-bg);
    color: var(--demo-text-color);
    height: 100%;
    /* debug */
    min-height: 350px;
}

#demo .col:first-child .card >*{
    width: calc(50% - 10px);
}


#demo .card .card-title{
    color: var(--secondary-color);
}

.demo-text{
    padding: 2rem 0 2rem 2rem;
    width: calc(50% - 20px);
}

#demo .card .card-text{
    margin-top: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.demo-text .btn{
    margin: 2rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
}

.demo-img{
    position: relative;
    left: 2rem;
}

.demo-img img{
    width: 70%;
    position: absolute;
    bottom: 0;
}

#demo .card.small {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#demo .card.small .fa-solid{
    font-size: 5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

#demo .card.small{
    text-align: center;
}

/* ! planning section */
#planning .container{
    max-width: 900px;
    padding: 3rem 1rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

#planning .container > *{
    width: calc(50% - 20px);
}

#planning .container > .strategic-col{
    color: white;
}

#planning .container > .app-col{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    text-align: center;
    color: black;
    background-color: white;
    /* debug */
    min-height: 500px;
}

.app-col > *{
    margin-bottom: 1rem;
}

.strategic-col .img-container{
    margin-bottom: 150px;
}

.strategic-col .text-container{
    padding-right: 2rem;
}

.strategic-col .text-container .section-title{
    font-size: 2rem;
    margin-bottom: 4rem;
}

.app-col img{
    width: 70%;
}

.app-col p{
    font-style: italic;
}

#planning .arrow{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 40px;
    background-color: var(--main-color);
}

/* ! testimonials */
.testimonials-introduction{
    text-align: center;
}

.testimonials-introduction > *{
    margin-bottom: 2rem;
}

#testimonials .big-title{
    color: var(--main-color);
}

.testimonials-introduction p{
    font-size: 1.2rem;
}

#testimonials .card{
    margin: 2rem 0;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--main-color);
    border-radius: 50px;
    /* debug */
    min-height: 300px;
}

#testimonials .img-rounded img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials .text-col{
    width: calc(80% - 3rem);
    color: white;
    font-size: 1.1rem;
}

#testimonials .fa-solid{
    margin: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.author{
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/*  ! with-us */
#with-us .big-title{
    text-align: center;
    color: white;
    font-weight: bold;
}

#with-us .row{
    margin-top: 70px;
}

#with-us .col .card{ 
    padding: 2rem;
    border-radius: 20px;
    color: var(--txt-with-us);
    background-color: white;
}

#with-us .card > *:not(.btn){
    margin-bottom: 1rem;
}

.card-number{
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
}

#with-us .card-title{
    color: var(--main-color);
}

#with-us .btn{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

/* ! about-us */
#about-us .container{
    padding: 2rem;
    display: flex;
    gap: var(--base-space);
}

#about-us .text-container{
    color: var(--txt-about-us);
}

#about-us .text-container > *{
    margin-bottom: 2rem;
}

#about-us .big-title{
    font-size: 4rem;
    color: var(--main-color);
} 

#about-us .text-container p{
    padding-right: 5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.about-us-img .img-container{
    position: relative;
}

.about-us-img > *{
    margin-bottom: 1rem;
}

.about-us-img .img-rounded{
    height: 250px;
    margin: 0 auto;
}

#about-us .fa-quote-left{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5rem;
    color: var(--main-color);
}

.about-us-img p{
    color: var(--main-color);
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: bolder;
}

#about-us .btn{
    background-color: #9792e4;
    color: white;
}

/* ! get started */
#get-started{
    padding: 3rem 0;
}

#get-started .container{
    max-width: 700px;
    text-align: center;
    color: white;
}

#get-started .container > *{
    margin-top: 2rem;
}

h1{
    font-size: 6rem;
    color: #fdc15f;
}

#get-started .btn{
    padding: 2rem 5rem;
    font-size: 1.5rem;
    border-radius: 40px;
    background-color: white;
    color: var(--main-color);
}

.author-info a{
    margin-left: 5px;
    text-decoration: underline;
}

/* ! footer */
#footer{
    padding: 3rem 0;
    background-color: #333333;
}

#footer .container{
    max-width: 700px;
    text-align: center;
    color: white;
}

.footer-text:first-child{
    margin-bottom: 3rem;
}

.footer-text a{
    color: var(--main-color);
    text-decoration: underline;
}


/* ! Tablet view */
@media screen and (max-width: 768px){
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }

    /* ! header */
    .header-navbar .nav-list{
        display: none;
    }

    .header-navbar .fa-bars{
        display: block;
    }

    /* ! demo */
    #demo .col:first-child .card>*{
        width: 100%;
    }

    .demo-img{
        left: 0;
    }

    .demo-img img{
        position: static;
    }

    .demo-text{
        padding-right: 2rem;
    }

    /* !planning */
    #planning .container > *{
        width: 100%;
    }

    .strategic-container{
        margin-bottom: 1rem;
    }

    .strategic-col .text-container .section-title{
        font-size: 3rem;
    }

    
    /* ! with-us */
    #with-us .col{
        width: 50%;
    }

    /* ! about-us */
    #about-us .text-container p{
        padding-right: 1rem;
    }

}

/* ! Mobile view */
@media screen and (max-width: 480px){
    #demo .col,
    #demo .col:first-child {
        width: 100%;
    }

    .demo-text{
        text-align: center;
    }

    #demo .btn{
        width: 80%;
    }

    .demo-img img{
        margin: 0 auto;
    }
    
    /* ! testimonials */
    #testimonials .card{
        justify-content: center;
        text-align: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #testimonials .text-col{
        width: 100%;
    }

    #with-us .col{
        width: 100%;
    }

    #about-us .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #about-us .container > *{
        width: 100%;
    }

    #about-us .text-container p{
        padding-right: 0rem;
    }

    #about-us .fa-quote-left{
        right: 2rem;
    }

}