:root{
    --secondary-color: #0084fd;
    --card-demo-bg: #b5ddff;
    --main-color: #9792e4;
    --demo-text-color: #596d7e;
    --base-space: 10px;
}

/* ! reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ! generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: var(--base-space);
    padding-right: var(--base-space);
}

.row{
    margin-left: -10px;
    margin-right: -10px;
}

.col{
    width: calc(100% / 3);
    padding: var(--base-space);
}

/* ! HEADER */
#header{
    background-color: var(--secondary-color);
}

#header .container{
    display: flex;
    justify-content: space-between;
}

/* * debug */
#header > .container > *{
    padding: 25px;

    /* debug */
    background-color: var(--card-demo-bg);
    color: var(--demo-text-color);
}

/* ! main */
section:nth-child(even){
    background-color: var(--main-color);
}

/* ! demo section */
#demo{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#demo .row{
    display: flex;
    flex-wrap: wrap;
}

#demo .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo .col:first-child .card{
    display: flex;
    flex-wrap: wrap;
    
}

#demo .col:first-child .card>*{
    width: 50%;
}

#demo .card{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card-demo-bg);

    /* debug */
    min-height: 350px;
}

/* ! planning section */
#planning{
    padding: 3rem 0;
}

#planning .container{
    max-width: 900px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#planning .container > *{
    width: calc(50% - 20px);
    padding: 20px;
}

#planning .container > .strategic-col{
    /* debug */
    border: 1px dashed black;
    min-height: 700px;
}

#planning .container > .app-col{
    align-self: flex-end;
    border-radius: 50px;
    background-color: white;

    /* debug */
    min-height: 500px;
}

/* ! testimonials */
#testimonials{
    padding: 3rem 0;
}

.testimonials-introduction{
    text-align: center;

    /* debug */
    border-bottom: 2px dotted black;
    min-height: 200px;
}

#testimonials .card{
    margin: 2rem 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
    border-radius: 50px;
    /* debug */
    min-height: 300px;
}

#testimonials .card .img-col{
    width: 30%;
}



/* ! Tablet view */
@media screen and (max-width: 768px){
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }

    #demo .col:first-child .card>*{
        width: 100%;
    }

    #planning .container > *{
        width: 100%;
    }

    .strategic-container{
        margin-bottom: 1rem;
    }

}

/* ! Mobile view */
@media screen and (max-width: 480px){
    #demo .col,
    #demo .col:first-child {
        width: 100%;
    }

    #testimonials .card .img-col{
        width: 100%;
    }
}